<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Given</title>
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/f4f8f1d1df.css" crossorigin="anonymous">
</head>

<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-sm">
                    <a class="brand" href="#home">Given<span>&#x2764;</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#home">Home</a>
                            <a class="nav-link" href="#serv">Services</a>
                            <a class="nav-link" href="#about">About</a>
                            <a class="nav-link" href="#gal">Gallery</a>
                            <a class="nav-link" href="#how">How we work</a>
                            <a class="nav-link" href="#order">Order</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="" id="home"></div>
        <section class="land">
            <div class="container-sm content">
                <div class="text">
                    <h1>Given To You From Us With Love</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
                        amet,
                        consectetur
                        adipisicing elit.</p>
                    <a class="btn" href="#gal">Discover</a>
                </div>
                <div class="">
                    <img class="img-fluid" src="Imgs/adam-birkett-QRWAdBCqysc-unsplash-PhotoRoom.png-PhotoRoom.png"
                        alt="Our Product" srcset="">
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fff" fill-opacity="1"
                    d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </section>

        <div class="" id="serv"></div>
        <section class="servs container-sm">
            <h2>Services</h2>
            <div class="title-underline"></div>
            <div class="row boxes mt-5">
                <div class="box col-md-3">
                    <i class="fa-solid fa-heart-pulse"></i>
                    <h4>Rates</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatipn.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="box col-md-4">
                    <i class="fa-regular fa-heart"></i>
                    <h4>Your Health</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatipn.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="box col-md-3">
                    <i class="fas fa-microchip"></i>
                    <h4>Tecnologie</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatipn.</p>
                </div>
            </div>
        </section>

        <div class="" id="about"></div>
        <section class="about container-sm">
            <h2>About Us</h2>
            <div class="title-underline"></div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="Imgs/simon-daoudi-2wFoa040m8g-unsplash.jpg" class="img-fluid" alt="about" srcset="">
                </div>
                <div class="col-md-6 text">
                    <p class="lead mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam maiores
                        adipisci
                        nam, rem laudantium consequatur earum praesentium, repudiandae, voluptate quas ullam sed iure
                        non voluptates corrupti laboriosam enim exercitationem veritatis?Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Omnis optio alias deserunt quia doloribus a amet dignissimos
                        magnam. Nobis quod esse non sint odit ad eligendi tempore rem obcaecati! Laudantium!</p>
                    <a class="btn" href="">Contact us</a>
                </div>
            </div>
        </section>

        <div class="" id="gal"></div>
        <section class="gallery">
            <h2>Gallery</h2>
            <div class="title-underline"></div>
            <div class="gal mt-5">
                <div class="image">
                    <img src="/Imgs/simon-daoudi-2wFoa040m8g-unsplash.jpg" alt="" srcset="">
                </div>
                <div class="image">
                    <img src="/Imgs/simon-daoudi-2wFoa040m8g-unsplash.jpg" alt="" srcset="">
                </div>
                <div class="image">
                    <img src="/Imgs/daniel-korpai-hbTKIbuMmBI-unsplash.jpg" alt="" srcset="">
                </div>
                <div class="image">
                    <img src="/Imgs/simon-daoudi-2wFoa040m8g-unsplash.jpg" alt="" srcset="">
                </div>
                <div class="image">
                    <img src="/Imgs/daniel-korpai-hbTKIbuMmBI-unsplash.jpg" alt="" srcset="">
                </div>
                <div class="image">
                    <img src="/Imgs/daniel-korpai-hbTKIbuMmBI-unsplash.jpg" alt="" srcset="">
                </div>
            </div>
        </section>

        <div class="" id="how"></div>
        <section class="how container-sm">
            <h2>How we work</h2>
            <div class="title-underline"></div>
            <p class="lead tilel-text mt-3 w-50 m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                tempora
                minus
                corrupti,
                iure assumenda suscipit maxime numquam
                nesciunt.</p>
            <h4 class="mt-5 display-4">What you get!</h4>
            <p class="mt-3 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repudiandae vel magnam
                nam nihil ipsam
                exercitationem officia aperiam accusantium commodi reiciendis, doloribus nobis ducimus deleniti itaque
                ratione optio officiis sapiente.</p>
            <ul>
                <li class="lead">Lorem Ipsum generators on the Internet ors on the Internetedefined chunks as necessary.
                </li>
                <li class="lead">All the Lorem Ipsum generators on the Internet tendto repeat predefined chunks as
                    necessary.</li>
                <li class="lead">generators on the Internet tendtoas necessary.</li>
                <li class="lead">All the Lorem Ipsum generators on the Internet tendto repeat predefined chunks as
                    necessary.</li>
                <li class="lead">generators on the Internet All the Lorem Ipsum tendto repeat predefined chunks as
                    necessary.</li>
            </ul>
        </section>

        <div class="" id="order"></div>
        <section class="order">
            <div class="container-sm">
                <p class="display-4 mt-5">Prices starting only from 19$!</p>
                <a href="#" class="btn btn-success">Order Now</a>
            </div>
        </section>


        <footer class="text-left text-lg-start text-light">
            <div class="wrapper container-sm">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                    <!-- Left -->
                    <div class="me-5 d-none d-lg-block">
                        <span>Get connected with us on social networks:</span>
                    </div>
                    <!-- Left -->

                    <!-- Right -->
                    <div>
                        <a href="">
                            <i class="fab fa-facebook-f me-4 text-secondary"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter me-4 text-secondary pl-5"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-google me-4 text-secondary pl-5"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram me-4 text-secondary pl-5"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin me-4 text-secondary pl-5"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-github me-4 text-secondary pl-5"></i>
                        </a>
                    </div>
                    <!-- Right -->
                </section>
                <!-- Section: Social media -->

                <!-- Section: Links  -->
                <section class="">
                    <div class="container text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <!-- Content -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    <i class="fas fa-gem me-3 text-secondary"></i> Company name
                                </h6>
                                <p>
                                    Here you can use rows and columns to organize your footer content. Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Products
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">Angular</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">React</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Vue</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Laravel</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    Useful links
                                </h6>
                                <p>
                                    <a href="#!" class="text-reset">Pricing</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Settings</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Orders</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">Help</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                                <p>
                                    <i class="fas fa-envelope me-3 text-secondary"></i>
                                    info@example.com
                                </p>
                                <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                                <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->

                <!-- Copyright -->
                <div class="text-center p-4">
                    © 2021 Copyright: <a class="text-reset" href="">Ali Aydi</a>
                </div>
                <!-- Copyright -->
            </div>
        </footer>
        <!-- Footer -->


    </main>
    <script src="Script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f4f8f1d1df.js" crossorigin="anonymous"></script>
</body>

</html>